# -- Site Configuration --
# https://blowfish.page/docs/getting-started/

theme = "blowfish"
baseURL = "https://rbellec.github.io/blog/"
defaultContentLanguage = "fr"

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false

enableEmoji = true

[pagination]
  pagerSize = 10

[taxonomies]
  tag = "tags"
  category = "categories"

[sitemap]
  changefreq = 'weekly'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]
